*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url('images/forest.jpg');
    cursor: url('images/sword-edit.jpeg'), auto;
}

.char-img {
    height: 250px;
    width: 250px;
    border: 1px solid rgb(80, 27, 27);
}

.heart {
    height: 40px;
    width: auto;
}

.enemy-container,
.user-container {
    background-image: linear-gradient(to bottom right, rgb(102, 45, 45), rgb(38, 130, 58), rgb(102, 45, 45));

}

.enemy-container,
.enemy-health,
.combat-log,
.player-health,
.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;

}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: "Press Start 2P";
    user-select: none;

}

.enemy-container,
.user-container {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

.enemy-abilities {
    text-align: center;
    font-size: 10px;
    list-style: none;
    padding: 0;
}

.enemy-abilities li {
    display: inline-block;
    align-items: center;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding-top: 6px;
    height: 35px;
    width: 105px;
    background-color: rgb(80, 27, 27);
    color: goldenrod;
}

.bolt {
    margin: 0 10px;
}

.player-abilities {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
    width: 347px;
    padding: 0;
    margin: 10px 0;
}

.player-abilities li {
    display: inline-block;
    padding: 0;
}

.player-abilities button {
    align-items: center;
    border: 1px solid goldenrod;
    border-radius: 5px;
    height: 35px;
    width: 105px;
    background-color: rgb(80, 27, 27);
    color: goldenrod;
    font-family: "Press Start 2P";
    font-size: 10px;
    padding: 0px;
}

.enemy-abilities li:hover {
    cursor: pointer;
}


.enemy-name {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.lore {
    font-size: 11px;
    text-align: center;
    margin: 15px 5px;
    line-height: 1.5;
    height: 92px;
    width: 373px;
}
#text-value, .lore-text {
    font-size: 11px;
    text-align: center;
    margin: 15px 5px;
    line-height: 1.5;
    height: 92px;
    width: 373px;
    color: goldenrod;
    font-family: "Press Start 2P";
    border: none;
    background: transparent;
}
#text-value, .lore-text, ::placeholder {
    color: goldenrod;
}

.enemy-health,
.combat-log,
.player-health {
    color: white;
}

.combat-log {
    position: absolute;
    text-align: center;
    line-height: 1.4;
    top: 170px;
    width: 300px;
    margin: 0;
    /* transform: translateY(-150px); */
}

.enemy-health {
    height: 50px;
    margin-right: 100px;
    margin-left: -50px;
}

.player-health {
    height: 50px;
    margin-left: 100px;
    margin-right: -50px;
}

.player-name {
    margin-top: 10px;
    text-align: center;
    background-color: transparent;
    font-family: "Player Start 2P";
}

input[type='text'] {
    border: none;
    font-size: 18px;
    color: goldenrod;
    font-family: "Press Start 2P";
}

button:active {
    scale: 0.9;
}

button:hover {
    cursor: pointer;
}


